.title_policy_pages {
  font-size: 2.4rem;
  font-weight: 800;
  text-align: center;
  margin:  3rem  auto;
}

.title_policy {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 600;
  margin:  2rem  auto;
}

.text_policy {
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-indent:  2rem ;
  font-weight: 400;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 450px) {
  .title_policy {
    font-size: 1.6rem;
  }

  .text_policy {
    font-size: 1.4rem;
    line-height: 2.2rem;
    word-wrap: break-word;
  }
}