.header {
  position: fixed;
  width: 100%;
  padding: 1rem 0 ;
  background-color: var(--white-color);
  box-shadow: var(--shadow);
  z-index: 5;
}

.header_box {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-wrap: nowrap;
  width: 30rem;
}

.header_logo_img {
  width: 4rem;
}

.header_logo_title {
  font-size: 2rem;
  font-weight: 900;
  color: transparent;
  background-image: linear-gradient(to right,
      var(--primary-color),
      #310404,
      var(--second-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 50s linear infinite;
  margin: 0;
}

@keyframes rainbow-animation {
  to {
    background-position: 500vh;
  }
}


.header_nav {
  padding: 0;
  margin-left: auto;
  margin-right: 0;
}

.header_list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
}

.header_list.is_active {
  display: block;
  right: 0;
}

.header_link {
  font-size: 1.4rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.03px;
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.header_link.activeLink {
  border-bottom: 2px solid var(--primary-color);
  color: var(--second-color);
  padding-bottom: 4px;
}

.header_link:hover {
  color: var(--second-color);
}

.hamburger {
  display: none;
  position: relative;
  color: var(--primary-color);
  width: 3rem;
  height: 2.2rem;
  transition: all 1s;
  z-index: 15;
  cursor: pointer;
}

.hamburger:before,
.hamburger::after,
.hamburger_line {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: var(--second-color);
  border: 2px solid var(--second-color);
  width: 3rem;
  padding: 0;
  cursor: pointer;
}

.hamburger.is_active {
  transform: rotate(90deg);
}

.hamburger:before {
  top: 0;
  left: 0;
}

.hamburger::after {
  bottom: 0;
  left: 0;
}

.hamburger_line {
  top: calc(50% - 2px);
  left: 0;
}


 
@media (max-width: 520px) {

  .hamburger {
    display: block;
  }

  .header_list {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    right: -32rem;
    overflow-x: hidden;
    transition: 1s;
    display: block;
    width: 32rem;
    height: 100vh;
    background-color: rgb(54, 21, 11);
    padding-top: 10rem;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
  }

  .header_link {
    color: var(--second-color);
  }

  .header_link.activeLink {
    border-bottom: 2px solid var(--second-color);
    color: var(--white-color);
  }

  .header_link:hover {
    color: var(--white-color);
  }

  .header_item {
    margin: 3rem 0;
  }
}